@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
@import url("font-awesome.min.css");

@font-face {
 font-family: 'HandOfSean';
 src: url("../fonts/handsean.eot"); /* For IE */
}

@font-face {
  font-family: 'HandOfSean';
  src: url("../fonts/handsean.ttf");
}

/* Reset */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

/* Box Model */

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

/* Basic */

    body {
        position: relative;
        background-color: #12151D;
        color: #999;
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Roboto Condensed';
        font-weight: 400;
    }

    a {
        color: #fff;
        color: rgba(255, 255, 255, 0.85);
        text-decoration: none;
        -moz-transition: color 0.25s ease-in-out;
        -webkit-transition: color 0.25s ease-in-out;
        -ms-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
    }

        a:hover {
            color: #d64760;
        }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        color: #fff;
    }

    strong, b {
        color: #fff;
        color: rgba(255, 255, 255, 0.85);
        font-weight: 600;
    }

/* Header for Page */

.page header {
    font-family: 'HandOfSean', 'Lucida Grande', sans-serif;
    padding: 20px;
}

.page header h1 {
    font-size: 2em;
    text-align: center;
}

/* Page */

.page article {
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    font-weight: 300;
}

.page article p {
    margin: 15px 0;
}

.page article h1,
.page article h2,
.page article h3,
.page article h4,
.page article h5,
.page article h6 {
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 10px 0;
}

.page article h2 {
    font-size: 1.4em;
}

.page article h3 {
    font-size: 1.2em;
}

.page article ol,
.page article ul {
    margin-left: 20px;
}

.page article ol {
    list-style: decimal;
}

.page article ul {
    list-style: circle;
}

.page article li,
.page article li {
    margin: 5px 0;
}


/* List */

    ul.contact {
        /*cursor: default;*/
        margin: 0 0 1em 0;
    }

        ul.contact li {
            display: inline-block;
            font-size: 1.5em;
        }

            ul.contact li span {
                display: none;
            }

            ul.contact li a {
                opacity: 0.35;
                color: #fff;
                -moz-transition: opacity 0.25s ease-in-out;
                -webkit-transition: opacity 0.25s ease-in-out;
                -ms-transition: opacity 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out;
            }

                ul.contact li a:hover {
                    opacity: 1.0;
                }

/* Icons */

    .icon {
        position: relative;
        text-decoration: none;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

/* Desktop */

    @media screen and (min-width: 737px) {

        /* Basic */

            html {
                height: 100%;
            }

            body {
                background: #458daf; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover,  #458daf 0%, #22577d 62%, #183b56 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover,  #458daf 0%,#22577d 62%,#183b56 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center,  #458daf 0%,#22577d 62%,#183b56 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458daf', endColorstr='#183b56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                padding: 0;
                font-size: 12pt;
                line-height: 1.75em;
                height: 100%;
                min-height: 450px;
                min-width: 1000px;
            }

        /* List */

            ul.contact {
                margin-bottom: 0.5em;
            }

                ul.contact li {
                    margin-left: 1em;
                }

        /* Footer */

            #footer {
                width: 100%;
                overflow: hidden;
                min-height: 80px;
            }

                #footer h2 {
                    font-size: 2.25em;
                    margin: 0 0 1em 0;
                }

                #footer .left {
                    padding: 2em;
                    text-align: left;
                }

                #footer .right {
                    padding: 2em;
                    text-align: right;
                }

                #footer .copyright li {
                    display: inline-block;
                    margin-left: 1em;
                    padding-left: 1em;
                    border-left: solid 1px #333;
                    border-left-color: rgba(255, 255, 255, 0.25);
                    line-height: 1em;
                    font-size: 0.8em;
                }

                    #footer .copyright li:first-child {
                        border-left: 0;
                        margin-left: 0;
                        padding-left: 0;
                    }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        /* Basic */

            body {
                font-size: 12pt;
                line-height: 1.75em;
            }

        /* List */

            ul.contact li {
                margin: 0 0.35em 0 0.35em;
            }

        /* Footer */

            #footer {
                padding: 4em 1em;
                text-align: center;
            }

                #footer br {
                    display: none;
                }

                #footer .right {
                    border-top: solid 1px rgba(255, 255, 255, 0.1);
                    margin: 4em 0 0 0;
                    padding: 4em 0 0 0;
                }

                #footer .copyright {
                    margin: 2em 0 0 0;
                }

    }